.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    z-index: 200;
    position: fixed;
z-index: 9;
transition-timing-function: ease-in;
transition: all 0.5s;
  }
  .nav__black {
    background-color: #111;
  }
  .nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: #fff;
    padding: 10px 30px;
    border-radius: 999px;
  }
  .navItem{
    padding: .5rem 1rem;
}
  .navLink{
    display: block;
    padding: 0rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition:all .15s ease-in-out;
    cursor: pointer;
  }
  .navLink:hover {
    color: #fff;
    box-shadow: 0 2px  #fff;;
}

@media(max-width:768px){
  .header {
    position: relative;
    background-color: #111;
  }
  .nav__black {
    position: fixed;
  }
 
}