.workSection{
    padding-top: 112px;
    background-color: #050404;
    margin-top: -70px;
}

.workSection figure{margin: 0px !important;transition: all .5s linear;position: relative;}
.workSection figure img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
width: 100%;
height: 100%;
background: #f000;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
}
.workSection figure:hover .overlay{
    background-color:rgba(10, 10, 10, 0.8)
}