.pricingItem{
    background-color: #2d2d2d;
    padding-top: 84px;
    padding-bottom: 60px;
    padding-left: 67px;
    padding-right: 67px;
    position: relative;
    min-height: 480px;
    transition: all .5s ease-in-out;
    transform: translateY(0);
}

.pricingItem:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 100px solid #939190;
    border-left: 100px solid transparent;
    position: absolute;
right: 0px;
top: 0;
transition: all .5s ease-in-out;
   
}
.pricingItem:hover:before{
    border-top: 100px solid white;  
  
}
.pricingItem:hover{
    transform: translateY(-20px);
}
.cols{
    margin-top: -70px;
}
.pricingHead{
    text-align: center;
}
.pricingItemTitle{
    font-size: 24px;
    color: #fff;
font-weight: 700;
text-transform: uppercase;
}
.pricingItemPrice{
    font-size: 35px;
    color: #fff;
font-weight: 700; 
}
.pricingItemBtn{
    background-color: transparent;
    max-width: 155px;
    width: 100%;
    margin: 0 auto;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px;
    border: 1px solid #bebebe;
    transition: all .5s ease-in-out;
}
.pricingItemBtn:hover{
color: #2d2d2d;
box-shadow: 300px 0 0 #fff inset;
}
.pricingList{
    text-align: left;
    margin-top: 20px;
    padding: 0 54px;
}
.pricingList li{
    color: #fff;
position: relative;
padding-left: 23px;
font-size: 13px
}

.pricingList li:before{
    content:"";
    background-image: url('/images/check.svg');
    width: 16px;
height: 16px;
position: absolute;
top: 4px;
left: 0px;
bottom: 0px;
}

@media(max-width:1440px){
    .pricingList{
        padding: 0 32px
    } 
}
@media(max-width:1024px){
    .pricingList{
        padding: 0 5px
    } 
}

@media(max-width:768px){
    .pricingItem{
        min-height: 440px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width:768px){
    .cols{
        margin-top: 0px;
    }
    .pricingItem{
        min-height: min-content;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
    }
    .pricingItem:hover{
        transform: translateY(-5px);
    }
}