.hero{
    padding: 0px;
    background-image: url('/images/sliderimg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 875px;
}
.heroSection{
    height: 100%;
    width: 95vw;
    max-width: 790px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
align-content: center;
justify-content: center;
text-align: center;
}

.heroSection h2{
    font-size: 70px;
    line-height: 75px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
.heroSection p{
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
   
}

.heroSection a{
    background-color: #ffffff;
max-width: 222px;
width: 100%;
margin: 0 auto;
height: 68px;
display: flex;
justify-content: center;
align-items: center;
color: #000;
font-size: 16px;
font-weight: 700;
border-radius: 999px;
}
.heroSection a:hover{
    background-color: rgb(232,232,232);
}


@media(max-width:767px){
    .heroSection h2{
        font-size: 38px;
        line-height: 45px;
    }
}