.aboutSection{
    background-color: #030202;
    padding-top: 93px;
    padding-bottom: 36px;
    color: #ffffff;
}

.aboutSection h5{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}
.aboutSection h5:after{
    content: '';
    width: 100%;
    height: 100%;
    max-height: 2px;
    background-color: #ffffff;
    display: block;
    margin-top: 10px;
    max-width: 83px;
    position: absolute
}
.aboutSection h2{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
}
.aboutSection p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.aboutSection a{
    color: #ffffff;
}
.aboutSection a:hover{
    color: #ffffff;
    box-shadow: 0 2px #ffffff;
}

@media(max-width:1024px){
    .aboutSection h2{
        font-size: 50px;
        line-height: 60px;
    } 
}
@media(max-width:768px){
    .aboutSection h2{
        font-size: 40px;
        line-height: 50px;
    } 
}