.footer{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.footer:before,
.footer:after{
    content: '';
background-color: #000000;
height: 100%;
width: 100%;
max-width: 38px;
position: absolute;
top: 0px;
}
.footer:before{
    left: 0px;
}
.footer:after{
    right: 0px;
}
.footer p{
    font-size: 21px;
    color: #000000;
    line-height: 31px;
    font-weight: 400;
}

.footer ul{
    margin:0;
}

.footer ul li{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
}
.footer ul li a{
    color: #000000; 
}
.footer .footerLogo{
margin-bottom: 20px;
}

.footer .social__link{
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 999px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px){
    .footer p{
        font-size: 12px;
    }
    .footer ul li{
        font-size: 14px;
        line-height: 22px;
    }
}
@media (max-width:767px){
    .footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}