.serviceSection{
padding-top: 126px;
padding-bottom: 32px;
background-image: url('/images/sliderimg.jpg');
background-position: top;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
}

.serviceSection h5{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}
.serviceSection h5:after{
    content: '';
    width: 100%;
    height: 100%;
    max-height: 2px;
    background-color: #ffffff;
    display: block;
    margin-top: 10px;
    max-width: 83px;
    position: absolute;
}
.serviceSection h2{
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
}


@media(max-width:1024px){
    .serviceSection h2{
        font-size: 50px;
        line-height: 60px;
    } 
}