.Heading{
    text-align: center;
    color: #ffffff;
}

.Heading h5{
    margin-bottom: 15px !important;
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
}

.Heading h2{
    margin-bottom: 20px !important;
    font-size: 56px;
    line-height: 55px;
    font-weight: 700;
}
.Heading.dark{
    color: #000000;
}
