.teamSection{
    padding-top: 58px;
    padding-bottom: 37px;
}

.teamSection figure{
    margin: 0 !important;
    overflow: hidden;
    position: relative;
    transition: all .2s linear;
}
.teamSection figure img{
    width:100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .2s linear;
}
.teamSection figure:hover img{
    transform: scale(1.1);
}