.countSection{
    padding-top: 160px;
    padding-bottom: 127px;
    background-image: url('/images/counterImg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.countSection h2{
    font-size: 84px;
    line-height: 85px;
    font-weight: 700;
    text-transform: uppercase;
}
.counterSingle{
    text-align: center;
}
.counterSingle span{
    font-size: 64px;
    line-height: 65px;
    font-weight: 700;
    display: block;
    margin-bottom: 50px;
}

.counterSingle h5{
    font-size: 32px;
    font-weight: 300;
}

.borderVertical{
    position: absolute;
height: 65px !important;
width: 6px;
display: block;
background: #fff;
opacity: 1;
left: 0px;
right: 0px;
margin: auto;
padding: 0px;
}

@media(max-width:1024px){
    .countSection h2{
        font-size: 60px;
line-height: 65px;
    }

    .counterSingle h5{
        font-size: 20px;
    }
}